

#nav-bar{
   position:sticky;
   top:0;
   z-index:10;
}

.navbar-brand img{
    height:40px;
    padding-left:30px;
}

.navbar-nav li{
    padding:0 10px;
}

.navbar-nav li a{
    float:right;
    text-align:left;
}

.navbar-nav li a:hover{
    color:#007bff!important;
    background-color:greenyellow;
}

.navbar{
    background:#fff;
}

.navbar-toggler{
    border:none!important;
}

.nav-link{
    color:#555!important;
    font-weight:600;
    font-size:16px;
}

#slider{
    width:100%;

}

.carousel-caption{
    top:50%;
    transform:translateY(-50%);
    bottom:initial!important;
}

.carousel-caption h5{
    color:#fff;
    font-size:42px;
}

.carousel-item img{
    width:100%;
}

#about{
    padding-top:50px;
    padding-bottom:50px;
    color:#555;
}

#about-content{
    padding-top:20px;
}

#about .btn{
    margin-top:20px;
    margin-bottom:30px;
}


#services{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTH7raPrz33FdNDMf6aFrOl7r7muuk4KqvOew&usqp=CAU");
    background-size:cover;
    color:#efefef!important;
    background-attachment: fixed;
    padding-top:50px;
    padding-bottom:50px; 
}

#services h1{
    text-align:center;
    color:#efefef!important;
    padding-bottom:10px;
}

#services h1::after{
    height:3px;
    width:170px;
    margin:20px auto 5px;
    display:block;
    content:'';
    background:#efefef;
}

#services{
    margin-top:40px;
}
.icon{

    font-size:40px;
    margin:20px auto;
    padding:20px;
    height:80px;
    width:80px;
    border:1px solid white;
    border-radius:50%;
}

#services{
    font-size:14px;
    margin-top:20px;
    color:#ccc;
}

#services .col-md-3:hover{
    background:#007bff;
    cursor:pointer;
}

#team{
    padding-top:50px;
    padding-bottom:50px;
    color:#555;
}

h1{
    text-align:center;
    color:#555!important;
    padding-bottom:10px;
}

h1::after{
    content:'';
    background:#007bff;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}


h2{
    text-align:center;
    padding-bottom:10px;
}

h2::after{
    content:'';
    background:#007bff;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}



a{
    text-decoration:none!important;
    color:#fff!important;
}

.footer{
    padding:100px 20px 15px;
    background-image:linear-gradient(black,blue,rgb(110, 226, 255),rgb(240, 161, 240));
    color:#fff;
}

.footer-logo{
    width:150px;
    margin-top:15px;
    margin-bottom:15px;
}

.footer h4{
    text-align:left;
    margin-top:15px;
    margin-bottom:25px;
}

.footer p{
    font-size:12px;
    text-align:justify;
    padding-right:35px;
}

.footer .row .fa{
    padding-right:20px;
    font-size:15px;
}

.footer hr{
    margin-top:10px;
    background:#efefef;
}

.footer .copyright{
    text-align:center;

}


#team {
   background: #eee !important;
}



.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}



section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

#promo{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://i.pinimg.com/originals/d6/68/ab/d668abc72809303852c27275e6a56775.gif");
    background-size:cover;
    background-position: center;
    color:white;
    padding:100px;
    font-family: sans-serif;
    background-attachment: fixed;
    text-align:center;
    font-size:38px;
}

#matter{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://cdn.dribbble.com/users/1242979/screenshots/7099124/media/2dde2bbed9ce96e8f213b6160bcc591a.gif");
    background-size:cover;
    background-position: center;
    color:white;   
    background-attachment: fixed;
 
  
}
.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

/*FAQ*/

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


.faqbox{
   margin-top:1%;
   width: 320px;
   margin: 100px auto 100px auto;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.faqbox .heading{
   background: rgb(49, 209, 174);
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: #fff;
   text-align: center;
   font-family: "Rubik";
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

.faqbox .details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

.faqbox .details summary{
   outline: none;
}

/*contact form */
#contactForm {
    margin: 0 auto;
}

#contactForm input, textarea {
    letter-spacing: 2px;
    font: 200 1em/1.1em 'Helvetica Neue', sans-serif;
    
    color: #000;
    background-color: RGBA(204, 204, 204, .1);
  
    outline: none; border: none;
 
    display:block;
    margin: 0 auto;
    padding: 1em;
    width: 90%;
    max-width: 400px;
}

#contactForm textarea {
height: 150px;
}

#contactForm *:focus {
 background-color: RGBA(254, 191, 4, 1);
}

#contactForm *:hover {
 background-color: RGBA(254, 191, 4, 1);
}

::-webkit-input-placeholder {
    color: #777;
}

:-moz-placeholder { /* Firefox 18- */
    color: #777; 
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #777; 
}

:-ms-input-placeholder {  
     color: #777;
}
